/*大广告*/
.mainbanner{
	clear:both;
}
/*页面地图*/
.nav_guide{
	margin-top:5px;
	height:29px;
	overflow:hidden;
	line-height:33px;
	padding-left:25px;
	color:#777;
	background:url(guide.gif) center top no-repeat;
}
.nav_guide a:link,.nav_guide a:visited,.nav_guide a:hover{
	color:#777;
}
/*页面定位*/
.MainContainer{
	margin-top:10px;
}
.MainContainer .side{
	width:220px;
	float:left;
}
.MainContainer .main{
	width:756px;
	float:right;
}
/*栏目样式*/
.sortcont{
	padding-bottom:10px;
	background:url(sortbg.gif) center bottom no-repeat;
}
.sortcont .head{
	height:40px;
	line-height:40px;
	padding-left:15px;
	background:url(sortbg.gif) center top no-repeat;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}
.sortcont .cont dl dt{
	height:32px;
	overflow:hidden;
	line-height:35px;
	padding-left:20px;
	background:url(sortbg.gif) center -68px no-repeat;
}
.sortcont .cont dl dt a{
	font-size:14px;
	font-weight:bold;
}
.sortcont .cont dl dd{
	height:30px;
	overflow:hidden;
	line-height:33px;
	padding-left:20px;
	padding-right:20px;
	background:url(sortbg.gif) center -38px no-repeat;
}
.sortcont .cont dl dd a{
	display:block;
	background:url(array.gif) 5px 14px no-repeat;
	padding-left:15px;
	color:#666;
}
/*
最新报道
*/
.thenewest{
	margin-top:5px;
}
.thenewest .head{
	height:48px;
	overflow:hidden;
	line-height:56px;
	background:url(thenewest.gif) left top no-repeat;
	padding-left:15px;
	font-size:14px;
	font-weight:bold;
}
.thenewest .cont{
	padding-bottom:15px;
	background:url(thenewest.gif) left bottom no-repeat;
}
.thenewest .cont dl{
	height:80px;
	overflow:hidden;
	background:url(thenewest.gif) left -51px no-repeat;
}
.thenewest .cont dl dt{
	width:100px;
	height:80px;
	float:left;
}
.thenewest .cont dl dt div{
	width:70px;
	height:60px;
	border:#DDD solid 1px;
	padding:2px;
	margin:6px auto 0 auto;
}
.thenewest .cont dl dt div a{
	display:block;
	width:70px;
	height:60px;
	overflow:hidden;
}
.thenewest .cont dl dd{
	width:110px;
	height:70px;
	float:left;
	padding-top:6px;
	line-height:16px;
}
.thenewest .cont dl dd .t{
	height:16px;
	overflow:hidden;
}
.thenewest .cont dl dd .t a{
	color:#378DE4;
}
.thenewest .cont dl dd .c{
	color:#666;
	height:48px;
	overflow:hidden;
}
/*
*内容列表
*/
.listtitle .head{
	height:55px;
	overflow:hidden;
	line-height:65px;
	background:url(head1.gif) left top no-repeat;
	padding-left:35px;
	color:#378DE4;
	font-size:20px;
	font-weight:bold;
}
.listtitle .cont{
	border:#D6E1F5 solid 1px;
	border-top:0;
	padding:5px 20px 25px 20px;
}
.listtitle .cont dl{
	height:35px;
	overflow:hidden;
	line-height:38px;
	border-bottom:#DDD dotted 1px;
	font-size:14px;
}
.listtitle .cont dl dt{
	width:80%;
	float:left;
}
.listtitle .cont dl dd{
	width:15%;
	float:right;
	text-align:center;
	color:#888;
}
.listtitle .cont .h{
	height:25px;
	overflow:hidden;
	line-height:25px;
	background:url(line.gif) center 24px no-repeat;
	border-bottom:0;
	color:#D25600;
}
.listtitle .cont .h dd{
	color:#2CA0D6;
}
.listtitle .cont .list{
	padding-left:15px;
	background:url(array1.gif) 5px 16px no-repeat;	
}
.listtitle .cont .list a{
	color:#444;	
}
.listtitle .cont .list a.f{
	color:#888;
	padding:0 5px 0 5px;
}
/*
*分页显示
*/
.listtitle .cont .page{
	padding-top:15px;
	height:25px;
	width:100%;
}
.listtitle .cont .page div{
	margin:auto;
	width:400px;
	height:25px;
}
.listtitle .cont .page div a,.listtitle .cont .page div span{
	display:block;
	float:left;
	padding:0 12px 0 12px;
	background:url(page3.gif) center top no-repeat;
	height:25px;
	line-height:25px;
	color:#2864A2;
}
.listtitle .cont .page div a:hover{
	text-decoration:none;
}
.listtitle .cont .page div a.pb,.listtitle .cont .page div a.pe{
	background:url(page0.gif) center top no-repeat;
}
.listtitle .cont .page div a.up,.listtitle .cont .page div a.next{
	background:url(page1.gif) center top no-repeat;
}
.listtitle .cont .page div a.ck{
	background:url(page2.gif) center top no-repeat;
	font-weight:bold;
	color:#FFF;
}
.listtitle .cont .page div span{
	background:url(page4.gif) center top no-repeat;
	padding:0 22px 0 22px;
	color:#999;
}
.listtitle .cont .page div span em{
	color:#f00;
	font-style:normal;
}