<!--
<?php
$ordertype = $ordertype ? $ordertype : "id";
$select[$ordertype] = "ch";
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/yellow/hr_listall.css">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listalltable">
  <tr>
    <td class="main">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
          <tr>
            <td class="head">
            	<span class="FL">职位列表</span>
                <span class="FR">
                	<a href="?ordertype=" class="$select[id]">最新职位</a>
                    <a href="?ordertype=hits" class="$select[hits]">热门职位</a>
                    <a href="?ordertype=levelstime" class="$select[levelstime]">推荐职位</a>
                </span>
            </td>
          </tr>
          <tr>
            <td class="cont">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listjob">
                  <tr class="h">
                    <td class="td1">职位名称</td>
                    <td class="td2">工作经验要求</td>
                    <td class="td3">学历要求</td>
                    <td class="td4">薪资待遇</td>
                    <td class="td5">招聘企业</td>
                    <td class="td6">工作地点</td>
                  </tr>
<!--
EOT;
$i=0;
foreach($listdb AS $key=>$rs){
$i++;
$class=($i%2==1)?'aa':'bb';
print <<<EOT
-->
                  <tr class="list $class">
                    <td class="td1"><a href="$rs[url]" target="$target" title='$rs[full_title]'>$rs[title]</a></td>
                    <td class="td2">{$rs[wageyear]}</td>
                    <td class="td3">{$rs[schoo_age]}</td>
                    <td class="td4">{$rs[wage]}</td>
                    <td class="td5"><a href="$webdb[www_url]/home/?uid=$rs[uid]" target="_blank">$rs[companyname]</a></td>
                    <td class="td6">$rs[workplace]</td>
                  </tr>
<!--
EOT;
}
print <<<EOT
-->
                  
                </table>	
<!--
EOT;
if($showpage){print <<<EOT
-->
			  <div class="page">$showpage</div>
<!--
EOT;
}print <<<EOT
-->
            </td>
          </tr>
        </table>
    </td>
    <td class="side">
    	<div class="shopsort">
        	<div class="head"><span>职位分类</span></div>
            <div class="cont">
<!--
EOT;
$j=0;
foreach($Fid_db[0] AS $key=>$name){
$j++;
$name=get_word($name,20);
print <<<EOT
-->
				
          <div class="bigsort list$j"><a href="list.php?fid=$key" target="_blank">$name</a></div>
                
          <div class="sort"> 
            <!--
EOT;
foreach($Fid_db[$key] AS $fid=>$name ){
$name=get_word($name,24);
print <<<EOT
-->
            <a href="list.php?fid=$fid" target="_blank">$name</a> | 
            <!--
EOT;
}print <<<EOT
-->
          </div>
<!--
EOT;
}print <<<EOT
-->
            </div>
        </div>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
