<!--
<?php
print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('</div>');
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
clickEdit.init();
//-->
</SCRIPT>
<div class="FootContainer">
	<div class="flogo"><a href="$webdb[www_url]"><img src="$webdb[www_url]/images/enterprise/flogo.gif"/></a></div>
    <div class="copyright">
    	Copyright@{$webdb[www_url]} all rights reserved <a href="http://www.miibeian.gov.cn" target="_blank">{$webdb[miibeian_gov_cn]}</a><br>
        Powered by <a href="http://www.qibosoft.com" target="_blank">qibosoft <span>{$qibosoft_Edition}</span></a> 
        Code &copy; 2003-10 <a href="http://bbs.qibosoft.com/" target="_blank">qibosoft</a> <br>
        $webdb[copyright]
    </div>
</div>
<!-- liuyangzhang.com Baidu tongji analytics -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb4f0e8b44022f0481c8de12b9f6bf9d0' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
<!--
EOT;
?>
-->