<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/enterprise/alonepage/introduce.css">
<div class="mainbanner">{$label[enterprise_introduce1]}</div>
<div class="nav_guide">
   <a href="$webdb[www_url]">首页</a> -&gt; 公司简介
</div>
<div class="MainContainer">
	<div class="side">
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<div id="Index_Login">$Load_Msg</div>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/hack.php?hack=login&styletype=introduce&iframeID=Index_Login" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
		<div class="Services">
        	<div class="head">{$label[enterprise_introduce2]}</div>
            <div class="cont">{$label[enterprise_introduce3]}</div>
        </div>
        <div class="casecont">
        	<div class="head">{$label[enterprise_introduce4]}</div>
            <div class="cont">{$label[enterprise_introduce5]}</div>
        </div>
    </div>
    <div class="main">
    	<div class="listtitle">
        	<div class="head">公司简介</div>
            <div class="cont">
            	{$label[enterprise_introduce6]}
            </div>
        </div>
    </div>
    <div class="cleardiv"></div>
</div>
<!--
EOT;
?>
-->